
.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}


.cormorant-unicase-regular {
  font-family: "Cormorant Unicase", serif;
  font-weight: 400;
  font-style: normal;
}

header {
    text-align: center;
}

h1 {
    font-family: "MedievalSharp";
    color: lightyellow;
}

a {
    text-decoration: none;
    color: green;
}

p, a {
    font-size: 16pt;
    font-family: "Cormorant Unicase";
    text-align: center;
    color: azure;
}

img {
    max-width: 300px;
    display: block;
    margin: auto;
}

article {
    padding: 30px;
    border: 4px lightyellow solid;
    margin: 30px auto 30px auto;
    background-color: rgb(55, 0, 0);
}

#splash {
    background-color: rgb(26, 31, 2);
}

#feed {
    background-color: rgb(4, 0, 0);
}

#gif {
    margin-top: 150px;
    display: block;
}

#main-feed {
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    gap:30px;
}

#left-column {
    flex:1;
}

#right-column {
    flex:2;
}